<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <h1>Handlebars</h1>
  <ul>
    {{#each users as |user|}}
    <li><a href="/{{user.id}}">{{user.name}}</a></li>
    {{else}}
    <li>There is no users in DB!</li>
    {{/each}}
  </ul>
  
</body>
</html>
